<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title> Test </title>
  <!-- CSS -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="http://www.x3dom.org/download/dev/x3dom.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- JS -->
  <script src="/static/js/lib/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="http://d3js.org/d3.v4.min.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/d3-tip.js"></script>
  <script src="/static/js/d3-x3dom-axis.min.js"></script>
  <script src="https://unpkg.com/d3-3d/build/d3-3d.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.5/d3-legend.js"></script>
  <script type="text/javascript" src="http://x3dom.org/x3dom/dist/x3dom-full.js"></script>

<style>

</style>
</head>

<body>
  <div id="left">
    <div id="plot">Click on run to continue.</div>
  </div>
  <div id="right">
    <div>
      <h4>
        Tuning Parameters
      </h4>
    </div>
    <form action="/submit3d" method="POST">
      <h6>Experiment params</h6>
      <input type="text" class="form-control" rows="5" name="time_end" placeholder="N_Iteration(default:3000)"></input>
      <input type="text" class="form-control" rows="5" name="print_every" placeholder="print_every(default:100)" id="print_every"></input>
      <input type="text" class="form-control" rows="5" name="dt" placeholder="dt(default:0.0005)" id="dt"></input>
      <input type="text" class="form-control" rows="5" name="num_particle" placeholder="num_particle(default:100)" id="num_particle"></input>
      <h6>LJ Force Param</h6>
      <input type="text" class="form-control" rows="5" name="epsilon" placeholder="epsilon(default:5)" id="epsilon"></input>
      <input type="text" class="form-control" rows="5" name="ljcutoff" placeholder="cutoff(default:2.5)" id="ljcutoff"></input>
      <h6>Spring params</h6>
      <input type="text" class="form-control" rows="5" name="k" placeholder="k(default:0.05)" id="k"></input>
      <input type="text" class="form-control" rows="5" name="r0" placeholder="r0(default:1.12)" id="r0"></input>
      <div class="form-check">
          <input type="checkbox" class="form-check-input" id="springDisplay" value="true" checked>
      <label class="form-check-label" for="exampleCheck1">Visualize spring Forces</label>
      </div>
      <h6>Displacement params</h6>
      <input type="text" class="form-control" rows="5" name="moveafter" placeholder="move_after(default:500)" id="k"></input>
      <input type="text" class="form-control" rows="5" name="moveevery" placeholder="move_every(default:20)" id="r0"></input>
      <input type="text" class="form-control" rows="5" name="movedisplacement" placeholder="move_displacement(default:1.5)" id="r0"></input>
      <input type="submit" class="btn btn-primary" name="my-form" value="Run">
    </form>
  </div>

  <script>
  d3.select('html').style('height','100%').style('width','100%')
  d3.select('body').style('height','100%').style('width','100%')
  // d3.select('#plot').style('width', "500px").style('height', "500px")
    var iteration = -100;
    var increment_iter = {{iter_inc}};
    var dt = 0.0005;
    // Set tooltips
var tip1 = d3.tip()
  .attr('class', 'd3-tip')
  .offset([100, 0])
  .html(function(d) {
    return "<strong>X: </strong><span class='details'>" + d.x + "</span><br /><strong>Y: </strong><span class='details'>" + d.y + "</span><br /><strong>P: </strong><span class='details'>" + d.z + "</span>";
  });

    // alert({{v_spring}});
  </script>
  {% for d in data: %}
  <script>
    // $("#data").text("{{d}}");
    var str = "{{d}}";
    var res = str.replace(/&#34;/g, "\"");
    // console.log(res);
    iteration = iteration + increment_iter;
    console.log("Iteration number : " + iteration);
   var parsed_res = JSON.parse(res)
   // scatterPlot3d(parsed_res, d3.select('#plot'));
    // $("#data").text(JSON.parse(res));
    // console.log(parsed_res[0]);
    scatterPlot3d(parsed_res);


    function updateColourScale(colorScale,domain) {
      // var linear = d3.scaleLinear()
      //   .domain(domain)
      //     .range(colorScale);

      var svg = d3.select("svg");
      svg.call(tip1);
      var legend = d3.legendColor()
        .labelFormat(d3.format(".2f"))
        // .useClass(true)
        .title("Potential of every particle")
        .titleWidth(100)
        .scale(colorScale);

      svg.append("g")
        .attr("class", "legendLinear")
        .attr("transform", "translate(780,300)");

      // var legendLinear = d3.legendColor()
      //   .shapeWidth(30)
      //   .cells(10)
      //   .orient('vertical')
      //   .scale(color);

      svg.select(".legendLinear")
        .call(legend);

    }

    function scatterPlot3d(parsed_res)
    {
      $("#plot").empty();


      var margin = {
          top: 50,
          right: 260,
          bottom: 30,
          left: 50
        },
        width = 1000 - margin.left - margin.right,
        height = 770 - margin.top - margin.bottom;


      var svg = d3.select("#plot").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

      var origin = [480, 300], j = 10, scale = 20, scatter = [], yLine = [], xGrid = [], beta = 0, alpha = 0, key = function(d){ return d.id; }, startAngle = (2*Math.PI/3);
    svg    = svg.call(d3.drag().on('drag', dragged).on('start', dragStart).on('end', dragEnd)).append('g');
    var color  = d3.scaleOrdinal(d3.schemeCategory20);
    var mx, my, mouseX, mouseY;
      colors1 = ["#f4c8c8","#eda3a3","#e47373","#e05d5d", "#dc4848","#d83333"]
    var fooColors =d3.scaleQuantile()
      .domain(d3.extent(parsed_res,function(d){
        return d.p;
      }))
      .range(colors1);

    var grid3d = d3._3d()
        .shape('GRID', 20)
        .origin(origin)
        .rotateY( startAngle)
        .rotateX(-startAngle)
        .scale(scale);

    var point3d = d3._3d()
        .x(function(d){ return d.x; })
        .y(function(d){ return d.y; })
        .z(function(d){ return d.z; })
        .origin(origin)
        .rotateY( startAngle)
        .rotateX(-startAngle)
        .scale(scale);

    var yScale3d = d3._3d()
        .shape('LINE_STRIP')
        .origin(origin)
        .rotateY( startAngle)
        .rotateX(-startAngle)
        .scale(scale);

    function processData(data, tt){

        /* ----------- GRID ----------- */

        var xGrid = svg.selectAll('path.grid').data(data[0], key);

        xGrid
            .enter()
            .append('path')
            .attr('class', '_3d grid')
            .merge(xGrid)
            .attr('stroke', 'black')
            .attr('stroke-width', 0.3)
            // .attr('fill', function(d){ return d.ccw ? 'lightgrey' : '#717171'; })
            .attr('fill-opacity', 0.0)
            .attr('d', grid3d.draw);

        xGrid.exit().remove();

        /* ----------- POINTS ----------- */

        var points = svg.selectAll('circle').data(data[1], key);

        points
            .enter()
            .append('circle')
            .attr('class', '_3d')
            // .attr('opacity', 0)
            // .attr('cx', posPointX)
            // .attr('cy', posPointY)
            // .merge(points)
            // .transition().duration(tt)
            .attr('r', 3)
            .attr('stroke', function(d){ return fooColors(d.p); })
            .attr('fill', function(d){ return fooColors(d.p); })
            .attr('opacity', 1)
            .attr('cx', posPointX)
            .attr('cy', posPointY);


            var PotentialRange = d3.extent(parsed_res,function(d){
              return d.p;
            });
          //legendSvg
          updateColourScale(fooColors,PotentialRange);


        points.exit().remove();

        /* ----------- y-Scale ----------- */

        var yScale = svg.selectAll('path.yScale').data(data[2]);

        yScale
            .enter()
            .append('path')
            .attr('class', '_3d yScale')
            .merge(yScale)
            .attr('stroke', 'black')
            .attr('stroke-width', .5)
            .attr('d', yScale3d.draw);

        yScale.exit().remove();

         /* ----------- y-Scale Text ----------- */

        var yText = svg.selectAll('text.yText').data(data[2][0]);

        yText
            .enter()
            .append('text')
            .attr('class', '_3d yText')
            .attr('dx', '.3em')
            .merge(yText)
            .each(function(d){
                d.centroid = {x: d.rotated.x, y: d.rotated.y, z: d.rotated.z};
            })
            .attr('x', function(d){ return d.projected.x; })
            .attr('y', function(d){ return d.projected.y; })
            .text(function(d){ return d[1] <= 0 ? d[1] : ''; });

        yText.exit().remove();

        d3.selectAll('._3d').sort(d3._3d().sort);
    }

    function posPointX(d){
        return d.projected.x;
    }

    function posPointY(d){
        return d.projected.y;
    }

	function init(){
        var cnt = 0;
        xGrid = [], scatter = [], yLine = [];
        for(var z = -j; z < j; z++){
            for(var x = -j; x < j; x++){
                xGrid.push([x, 1, z]);
                scatter.push({x: x, y: d3.randomUniform(0, -10)(), z: z, id: 'point_' + cnt++});
            }
        }

        d3.range(-1, 11, 1).forEach(function(d){ yLine.push([-j, -d, -j]); });

        var data = [
            grid3d(xGrid),
            point3d(parsed_res),
            yScale3d([yLine])
        ];
        processData(data, 1000);
    }

    function dragStart(){
        mx = d3.event.x;
        my = d3.event.y;
    }

    function dragged(){
        mouseX = mouseX || 0;
        mouseY = mouseY || 0;
        beta   = (d3.event.x - mx + mouseX) * Math.PI / 230 ;
        alpha  = (d3.event.y - my + mouseY) * Math.PI / 230  * (-1);
        console.log("Beta:"+beta+startAngle);
        var data = [
             grid3d.rotateY(beta + startAngle).rotateX(alpha - startAngle)(xGrid),
            point3d.rotateY(beta + startAngle).rotateX(alpha - startAngle)(parsed_res),
            yScale3d.rotateY(beta + startAngle).rotateX(alpha - startAngle)([yLine]),
        ];
        processData(data, 0);
    }

    function dragEnd(){
        mouseX = d3.event.x - mx + mouseX;
        mouseY = d3.event.y - my + mouseY;
    }

    d3.selectAll('button').on('click', init);

    init();
}


  </script>
  {% endfor %}
</body>



</html>
