alembic==0.9.5
appnope==0.1.0
base==1.0.4
bcrypt==3.1.3
bleach==1.5.0
bokeh==0.12.13
boto==2.48.0
boto3==1.4.8
botocore==1.8.13
bz2file==0.98
certifi==2017.11.5
cffi==1.10.0
chardet==3.0.4
click==6.7
configparser==3.5.0
coverage==4.4.1
cycler==0.10.0
decorator==4.1.2
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
Flask==0.12.2
Flask-Bcrypt==0.7.1
Flask-Migrate==2.1.0
Flask-Script==2.0.5
Flask-SocketIO==2.9.6
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.2
ForgeryPy==0.1
future==0.16.0
gensim==3.2.0
gunicorn==19.7.1
h5py==2.7.1
html5lib==0.9999999
idna==2.6
ipykernel==4.6.1
ipython==5.0.0
ipython-genutils==0.2.0
ipywidgets==7.0.5
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.9.6
jmespath==0.9.3
json-rpc==1.10.8
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.4.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.1.0
jupyter-latex-envs==1.4.1
jupyter-nbextensions-configurator==0.4.0
lxml==4.1.1
Mako==1.0.7
Markdown==2.6.10
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
mistune==0.8.3
modules==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.5
nose==1.3.7
notebook==5.2.2
numpy==1.13.3
oauthlib==2.0.6
olefile==0.44
pandas==0.21.0
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.3.0
pickleshare==0.7.4
Pillow==4.3.0
pluggy==0.6.0
prompt-toolkit==1.0.15
props==0.0.2
protobuf==3.5.1
ptyprocess==0.5.2
py4j==0.10.6
pycodestyle==2.3.1
pycparser==2.18
pydocstyle==2.1.1
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
pyspark==2.3.0
python-dateutil==2.6.1
python-editor==1.0.3
python-engineio==2.0.4
python-language-server==0.15.1
python-socketio==1.9.0
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.18.4
requests-oauthlib==0.8.0
rope==0.10.7
s3transfer==0.1.12
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
smart-open==1.5.5
snowballstemmer==1.2.1
SQLAlchemy==1.1.13
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
terminado==0.8.1
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
tweepy==3.5.0
unicodecsv==0.14.1
urllib3==1.22
virtualenv==15.2.0
wcwidth==0.1.7
Werkzeug==0.13
widgetsnbextension==3.0.8
yapf==0.20.2
