<html>

<head>
  <title> Test </title>
  <!-- CSS -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- JS -->
  <script src="/static/js/lib/jquery-3.2.1.min.js"></script>
  <script src="/static/js/lib/d3.min.js"></script>
  <script src="/static/js/script.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</head>

<body>
  <div id="left">
    <div id="plot">Click on run to continue</div>
  </div>
  <div id="right">
    <form action="/submit" method="POST">
      <input type="text" class="form-control" rows="5" name="time_end" placeholder="End_time"></input>
      <input type="text" class="form-control" rows="5" name="print_every" placeholder="print_every" id="print_every"></input>
      <input type="text" class="form-control" rows="5" name="dt" placeholder="dt" id="dt"></input>
      <input type="text" class="form-control" rows="5" name="num_particle" placeholder="num_particle" id="num_particle"></input>
      <input type="text" class="form-control" rows="5" name="k" placeholder="k(default:0.05)" id="k"></input>
      <input type="text" class="form-control" rows="5" name="r0" placeholder="r0" id="r0"></input>
      <input type="submit" class="btn btn-primary" name="my-form" value="Run">
    </form>
  </div>

  <script>
    var iteration = 0;
    var increment_iter = {{iter_inc}};
    var dt = 0.0005;
  </script>
  {% for d in data: %}
  <script>
    // $("#data").text("{{d}}");
    var str = "{{d}}";
    var res = str.replace(/&#34;/g, "\"");
    iteration = iteration + increment_iter;
    console.log("Iteration number : " + iteration);
    var parsed_res = JSON.parse(res)
    _draw_graph(parsed_res, iteration);
    // $("#data").text(JSON.parse(res));
    // console.log(parsed_res[0]);
    function _draw_graph(parsed_res, iteration) {
      if (parsed_res) {
        $("#plot").empty();
        // set the dimensions and margins of the graph
        var margin = {
            top: 50,
            right: 20,
            bottom: 30,
            left: 50
          },
          width = 960 - margin.left - margin.right,
          height = 500 - margin.top - margin.bottom;


        // set the ranges
        var x = d3.scaleLinear().range([0, width]);
        var y = d3.scaleLinear().range([height, 0]);
        var fooColors = d3.scaleLinear()
          .domain(d3.extent(parsed_res, function(d) {
            return d.z;
          })).range(['#8c510a','#01665e']);
        // define the line
        // var valueline = d3.line()
        //     .x(function(d) { return x(d.date); })
        //     .y(function(d) { return y(d.close); });

        // append the svg obgect to the body of the page
        // appends a 'group' element to 'svg'
        // moves the 'group' element to the top left margin
        var svg = d3.select("#plot").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

        // Get the data

        // format the data
        // parsed_res.forEach(function(d) {
        //     d.x = +d.x;
        //     d.y = +d.y;
        // });

        // Scale the range of the data
        x.domain(d3.extent(parsed_res, function(d) {
          return d.x;
        }));
        y.domain(d3.extent(parsed_res, function(d) {
          return d.y;
        }));

        // Add the valueline path.
        // svg.append("path")
        //     .data([data])
        //     .attr("class", "line")
        //     .attr("d", valueline);

        // Add the scatterplot
        if (iteration != 0) { //TODO: transition
          svg.selectAll("circle")
            .data(parsed_res)
            .enter().append("circle")
            .attr("r", 5)
            .attr("cx", function(d) {
              //console.log(d);
              return x(d.x);
            })
            .attr("cy", function(d) {
              return y(d.y);
            })
            .attr("fill", function(d) {
              return fooColors(d.z);
            });
        } else {
          var scatterSize = 5;
          console.log("Reached 0 ");

          svg.selectAll("circle")
            .data(parsed_res)
            .each("start", function() {
              // <-- Executes at start of transition
              console.log("start");
              d3.select(this)
                .attr("fill", "magenta")
                .attr("r", 5)
                .attr("cx", function(d) {
                  return x(d.x);
                })
                .attr("cy", function(d) {
                  return y(d.y);

                })
                .attr("fill", function(d) {
                  return fooColors(d.z);
                });

            });



          svg.selectAll("circle")
            .data(parsed_res)
            .transition()
            .duration(500)
            .delay(function(d, i) {
              return i / parsed_res.length * 500; // Dynamic delay (i.e. each item delays a little longer)
            })

            .attr('cx', function(d) {
              return x(d.x);
            })
            .attr('cy', function(d) {
              return y(d.y);
            });
        }
        // Add the X Axis
        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));

        // Add the Y Axis
        svg.append("g")
          .call(d3.axisLeft(y));

        //add Title
        svg.append("text")
          .attr("x", (width + margin.left + margin.right) / 2)
          .attr("y", 15)
          .attr("class", "title")
          .attr("text-anchor", "middle")
          .style("font-size", "16px")
          .attr("font-weight", "bold")
          .text("iteration: " + iteration + "Real world time : " + Math.round(iteration * dt * 100) / 100 + " seconds.");

      }
    }
  </script>
  {% endfor %}
</body>



</html>
