<html>

<head>
  <title> Test </title>
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- JS -->
  <script src="/static/js/lib/jquery-3.2.1.min.js"></script>
  <script src="/static/js/lib/d3.min.js"></script>
  <script src="/static/js/script.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</head>

<body>
  <div id="plot">Running</div>

  <script>
    var iteration = 0;
  </script>
  {% for d in data: %}
  <script>
    // $("#data").text("{{d}}");
    var str = "{{d}}";
    var res = str.replace(/&#34;/g, "\"");
    iteration = iteration + 1;
    console.log("Iteration number : " + iteration);
    var parsed_res = JSON.parse(res)
    _draw_grpah(parsed_res, iteration);
    // $("#data").text(JSON.parse(res));
    // console.log(parsed_res[0]);


    function _draw_grpah(parsed_res, iteration) {
      if (parsed_res) {
        $("#plot").empty();
        // set the dimensions and margins of the graph
        var margin = {
            top: 20,
            right: 20,
            bottom: 30,
            left: 50
          },
          width = 960 - margin.left - margin.right,
          height = 500 - margin.top - margin.bottom;


        // set the ranges
        var x = d3.scaleLinear().range([0, width]);
        var y = d3.scaleLinear().range([height, 0]);

        // define the line
        // var valueline = d3.line()
        //     .x(function(d) { return x(d.date); })
        //     .y(function(d) { return y(d.close); });

        // append the svg obgect to the body of the page
        // appends a 'group' element to 'svg'
        // moves the 'group' element to the top left margin
        var svg = d3.select("#plot").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

        // Get the data

        // format the data
        // parsed_res.forEach(function(d) {
        //     d.x = +d.x;
        //     d.y = +d.y;
        // });

        // Scale the range of the data
        x.domain(d3.extent(parsed_res, function(d) {
          return d.x;
        }));
        y.domain(d3.extent(parsed_res, function(d) {
          return d.y;
        }));

        // Add the valueline path.
        // svg.append("path")
        //     .data([data])
        //     .attr("class", "line")
        //     .attr("d", valueline);

        // Add the scatterplot
        if (iteration != 0 ) { //TODO: transition 
          svg.selectAll("circle")
            .data(parsed_res)
            .enter().append("circle")
            .attr("r", 5)
            .attr("cx", function(d) {
              //console.log(d);
              return x(d.x);
            })
            .attr("cy", function(d) {
              return y(d.y);
            })
        } else {
          var scatterSize = 5;
          console.log("Reached 0 ");
          d3.selectAll("circle")
            .data(parsed_res) // Update with new data
            // .transition()
            // .duration(1000)
            .each("start", function() { // Start animation
              d3.select(this) // 'this' means the current element
                .attr("fill", "red") // Change color
                .attr("r", 5); // Change size
                console.log()
            })

            // .delay(100)
            // .attr("fill", "red") // Change color
            .attr("r", "5") // Change size
            // .ease(d3.easeBounce)
            .attr("cx", function(d) {
              console.log(d);
              return x(d.x); // Circle's X
            })
            .attr("cy", function(d) {
              return y(d.y); // Circle's Y
            })
          // .on("end", function() {
          //   d3.select(this)
          //     .attr("fill", "black")
          //     .attr("r", scatterSize);
          // });
        }
        // Add the X Axis
        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));

        // Add the Y Axis
        svg.append("g")
          .call(d3.axisLeft(y));

        //add Title
        svg.append("text")
          .attr("x", (width + margin.left + margin.right) / 2)
          .attr("y", 15)
          .attr("class", "title")
          .attr("text-anchor", "middle")
          .style("font-size", "16px")
          .attr("font-weight", "bold")
          .text("iteration: " + iteration * 100);

      }
    }
  </script>
  {% endfor %} {{ idea }}
</body>



</html>
